<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погода по маршруту</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
            max-width: 600px;
        }
        .result {
            margin-top: 20px;
            padding: 15px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Погода по маршруту</h1>
        <form action="/weather" method="POST">
            <div class="form-group">
                <label for="start">Начальная точка (например: 55.768760, 37.588817):</label>
                <input type="text" class="form-control" id="start" name="start" required>
            </div>
            <div class="form-group">
                <label for="end">Конечная точка (например: 56.326793, 44.006437):</label>
                <input type="text" class="form-control" id="end" name="end" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Получить погоду</button>
        </form>
        {% if message %}
            <div class="result">
                <h5>Результаты:</h5>
                <p>{{ message | safe}}</p>
            </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>